<app-navbar></app-navbar>
<div class="container">
    <div class="row ">
        <div  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Nation</th>
                            <th scope="col">Year</th>
                            <th scope="col">Population</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of data.data" >
                            <td>{{i.Nation}}</td>
                            <td>{{i.Year}}</td>
                            <td>{{i.Population}}</td>
                           
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
