<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-4 "*ngFor="let i of passenger.data">
            <div class="card" style="width: 18rem;">
                <img  height="80px" src="{{i.airline[0].logo}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{i.airline[0].name}}</h5>
                  <p class="card-text">{{i.airline[0].slogan}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> Name: {{i.name}}</li>
                  <li class="list-group-item">Trips: {{i.trips}}</li>
                 
                  <li class="list-group-item"></li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">{{i.airline[0].website}}</a>
                </div>
              </div>
        </div>
    </div>
</div>
